.takeNoteTwo1{
    display: flex;
    justify-content: space-around;
}
.divTakeTwo1{
    /* border: 1px solid red; */
    width: 40vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(230, 227, 227);
    box-shadow: 5px 5px 10px #888888;
    border-radius: 8px;
}

.inputDivTakeTwo1{
    /* border: 1px solid blue; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inputDivTakeTwo2{
    /* border: 1px solid blue; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

.iconDivTakeTwo{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.allIcons{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.submitBtn{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}